@import "../../index.scss";

.drop-down-menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 14.3rem;
  padding: 1rem 0.5rem;
  top: 6.65rem;
  left: -2rem;
  display: none;
  z-index: 999;
  &:hover {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: column;

    li .drop-down-link {
      color: $light-rotten-cherry;
      font-size: 1.6rem;
      margin: -2rem 0;
      cursor: pointer;
    }
    hr {
      height: 2px;
      background-color: $snow-white;
      width: 4rem;
      border: none;
      margin: -1rem;
    }
  }
}
