@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Cookie&family=Playfair+Display&family=Prata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

// Color variables
$dark-brown: #483224;
$rotten-cherry: #803e38;
$light-rotten-cherry: #a4554e;
$dusty-cream: #d1c1a5;
$peachy-cream: #e7d1a7;
$dove-gray: rgba(0, 0, 0, 0.161);
$off-white: #f3f3f3;
$snow-white: #ffffff;
