@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Cookie&family=Playfair+Display&family=Prata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

// Color variables
$dark-brown: #483224;
$rotten-cherry: #803e38;
$light-rotten-cherry: #a4554e;
$dusty-cream: #d1c1a5;
$peachy-cream: #e7d1a7;
$dove-gray: rgba(0, 0, 0, 0.161);
$off-white: #f3f3f3;
$snow-white: #ffffff;

// General Style/
.container-align {
  margin: 0 auto;
  width: 70%;
}
.container-align-inside {
  margin: 0 auto;
  width: 49%;
}
.button-wrapper {
  border: 1px solid $dark-brown;
  background-color: transparent;
  display: inline-block;
  margin-top: 2rem;
  &:hover {
    border: 1px solid $rotten-cherry;
  }
}
.button-basic-style {
  background-color: $dark-brown;
  color: $dusty-cream;
  border: 1px solid $dark-brown;
  border-radius: 1.2rem 0 1.2rem 0;

  font-size: 1.8rem;
  padding: 0.9rem 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    border-radius: 0 0 0 0;
    border: 1px solid $rotten-cherry;
    background-color: $rotten-cherry;
    color: $snow-white;
  }
}
